@import url("https://fonts.googleapis.com/icon?family=Material+Symbols+Rounded");

:root {
  --black: black;
  --lightGray: #323232;
  --boxShadow: rgba(0, 0, 0, 0.25);
  --grayStroke: rgba(18, 18, 18, 0.2);
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.header {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 4px 4px 0 var(--boxShadow);
  width: 100%;
  padding: 1.7rem 3rem;
}

.search {
  display: flex;
}

.icon {
  color: var(--black);
  padding: 0.3rem;
  cursor: pointer;
}

.icon-padding {
  border: 1px solid var(--grayStroke);
  box-shadow: 0px 4px 4px 0 var(--boxShadow);
  border-radius: 10px;
}

.searchInput {
  border-radius: 10px;
  border: 1px solid var(--grayStroke);
  box-shadow: 0px 4px 4px 0 var(--boxShadow);
  width: 15rem;
}

.searchInput:focus {
  outline: none;
}

.splitHeader {
  display: flex;
  gap: 1rem;
}

.forum,
.cart {
  color: var(--lightGray);
}

.search {
  display: flex;
  gap: 0.5rem;
}
