@import url("https://fonts.googleapis.com/icon?family=Material+Symbols+Rounded");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

:root {
  --black: black;
  --lightGray: #323232;
  --boxShadow: rgba(0, 0, 0, 0.25);
  --grayStroke: rgba(18, 18, 18, 0.2);
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Inter", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 4px 4px 0 var(--boxShadow);
  width: 100%;
  padding: 1.7rem 3rem;
}

.search {
  display: flex;
}

.icon {
  color: var(--black);
  padding: 0.3rem;
  cursor: pointer;
}

.icon-padding {
  border: 1px solid var(--grayStroke);
  box-shadow: 0px 4px 4px 0 var(--boxShadow);
  border-radius: 10px;
}

.searchInput {
  border-radius: 10px;
  border: 1px solid var(--grayStroke);
  box-shadow: 0px 4px 4px 0 var(--boxShadow);
  width: 15rem;
}

p {
  display: inline;
}

.searchInput:focus {
  outline: none;
}

.splitHeader {
  display: flex;
  gap: 1rem;
}

.forum,
.cart {
  color: var(--lightGray);
}

.search {
  display: flex;
  gap: 0.5rem;
}

.mainDisplay {
  display: flex;
  height: 100vh;
}

.leftDisplay {
  flex: 1;
}

.rightDisplay {
  flex: 3;
}

.dealCardTitle {
  font-weight: 700;
  font-size: 1rem;
}

.percent {
  font-size: 1.5rem;
}

.dealCardDescription {
  color: #525252;
  font-size: 0.8rem;
}

.shopNow {
  background-color: black;
  color: white;
  padding: 0.3rem 0.8rem;
  border-radius: 30px;
  font-size: 0.9rem;
  width: fit-content;
}

.dealCard {
  background-color: #dbdada;
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
  padding: 1rem;
  position: relative;
  margin-left: 1rem;
  margin-top: 1rem;
}

.dealDetails {
  display: flex;
  flex-direction: column;
}

.nikePhoto {
  position: absolute;
  height: auto;
  width: 16vw;
  bottom: -15%;
  right: 40%;
  left: 30%;
}
